/* form.signup,
form.login {
  margin-top: 50px;
} */

body{
  background-color: #1a202c;
  color: #81E6D9;
  
}

form{
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

#form-box{
margin-left: auto;
margin-right: auto;
}

#menu-toggle:checked + #menu{
    display: block
  }

.box{
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: hotpink;
}

.center{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

